<h3>
  Why is this time going to be different?  
</h3>
<h4>
  Because I've gone public with it, so I can't back out. <br>
</h4>
<%= image_tag "story/shame.png" %>
<p>
  <sub>A stinky cologne.</sub>

  <h4>
    <br>
    Just like running a marathon is not only the race, Dunking is not only the jump.  It's everything leading up to it:  training, commitment, and sacrifice.<br>
    <br>
  </h4>

  <div class="container">
    <h4>Life before training:</h4>
    <span-6>
    <%= image_tag "story/full_pizza.jpg" %>
  </span>
  <span-6 >
  <%= image_tag "story/fist_pump.jpg" %>
  <%= image_tag "story/fist_pump.jpg" %>
  <%= image_tag "story/fist_pump.jpg" %>
</span>
</div>
<br>

<h4>Life now:</h4>
<div class="container">
  <div class="span-3">
    <%= image_tag "story/one_slice.jpg" %>
  </div>
  <div class="span last">
    <%= image_tag "story/nopump.jpg" %><br>
    <sub>still awesome sans fistpumps</sub>
  </div>
</div>


<div>
  <h4>
    <br>
    You are, no doubt, skeptical.  This is because you are a person who understands logic.
  </h3>
</div>

<div class="span prepend-11 last">
  <h3>
    <%= link_to "Next. (almost there)", story_story7_path %>
  </h3>
  
</div>

