<div class="span-17">
  <center>
    <h2>The Prediction Market for Personal Goals</h2>
    <h3>The days of giving and forgetting are over.</h3>
  </center>  
</div>
<hr class="space">
<div class="prepend-1 span-5" id="triptych_1">
  <center>    
    <%= link_to (image_tag "triptych_1.jpg", :width => 200), story_story1_path %>
  </center>
</div>
<div class="span-5">
  <center>    
    <%= link_to (image_tag "triptych_2.jpg", :width => 200), story_story1_path %>
  </center>
</div>
<div class="span-5 last">
  <center>    
    <%= link_to (image_tag "triptych_3.jpg", :width => 200), story_story1_path %>
  </center>
</div>

<hr class="nospace">

<div class="prepend-1 span-5">
  <center>    
    <h4>1. State your Goal</h4>
  </center>
</div>
<div class="span-5">
  <center>
    <h4>2. Open the Market</h4>
  </center>
</div>
<div class="span-5 last">
  <center>
    <h4>3. Show 'em who's boss!</h4>
  </center>
</div>
<hr class="nospace">

<div class="span">
  <center>
    <h2>Confused? &nbsp You should be.&nbsp</h2>
  </center>
</div>
<hr class="nospace">
<div class="prepend-1 span-5">
  <center>    
    <h3><%= link_to "How it Works", about_howitworks_path %></h3>
  </center>
</div>
<div class="span-5">
  <center>    
    <h3><%= link_to "Why Would I ever...", about_why_trade_dunkbonds_path %></h3>
  </center>
</div>
<div class="span-5 last">
  <center>    
    <h3><%= link_to "The Backstory", story_story1_path %></h3>
  </center>
</div>
<hr class="space">
<div class="span-17">
  <center>
    <h2>Wait, I get it.  <%= link_to "Let me in, already.", home_index_path %></h2> 
  </center>
</div>
<hr class="nospace">




