<% if current_cart.line_items.empty? %>
    <h3>Your cart is empty.</h3>
    <%= link_to "Go Back", :back %>
<% else %>
    <% @goal_line_items.sort.each do |goal, line_items| %>
    <div class="goalbox">
      <%= link_to goal.title, goal %>
      <table>
          <tr>
            <th>Request</th>
            <th>Qty</th>
            <th>Requested Price</th>
            <th>Best Case Pledge</th>
            <th>Worst-Case Pledge</th>            
            <th></th>
        </tr>
        <%= render :partial => "carts/cart_line_item", :collection => line_items %>
        <tr>
            <td>Goal Total</td>
            <td></td>
            <td></td>
            <td><%= number_to_currency(line_items.inject(0){|sum, e| sum += e.best_case_pledge})%></td>
            <td><%= number_to_currency(line_items.inject(0){|sum, e| sum += e.worst_case_pledge})%></td>
            <td></td>
        </tr>
    </table>
    </div>
    <hr class="space">
    <% end %>

    <% if params[:controller] == "orders" %>
        <%= button_to "Finalize Order", orders_path, :method => :post %>
    <% else %>
        <%= button_to "Preview Order", new_order_path, :method => :get %>
    <% end %>
<% end %>