<tr class="post">
  <td><%= post.goal_id %></td>
  <td><%= post.title %></td>
  <td><%= post.content %></td>
  <td><%= link_to 'url', post.url %></td>
  <td><%= post.published_at %></td>
  <td><%= post.guid %></td>
</tr>
