<h1>About DUNKbonds</h1>

<ul>
	<li><%= link_to "The Backstory", story_story1_path %></li>
	<li><%= link_to "Contact", about_contact_path %></li>
	<li><%= link_to "Credits", about_credits_path %></li>
	<li><%= link_to "How it all Works", about_howitworks_path %></li>
	<li><%= link_to "Why would I want to set a goal and sell DUNKbonds?", about_why_set_a_goal_path %></li>
	<li><%= link_to "Why would I buy or sell someone's bonds?", about_why_trade_dunkbonds_path %></li>
</ul>
