<div class="span-10 colborder">
  <h3>All About this Goal</h3>
  <p>Here is where you can learn about the details and terms of this goal and stay abreast of progress and any other relevant info a supporter (or challenger) might want to know.<p>
    <hr>
    <% unless @sticky_post.nil? %>
    <% if nil != @sticky_post && @sticky_post.respond_to?(:published_at) %>
    <%= I18n.l @sticky_post.published_at.to_date, :format => :long %> 
    <h4><%= link_to @sticky_post.title, goal_post_path(@sticky_post.goal, @sticky_post) %></h4>
    <%= @sticky_post.content.html_safe %>
    <hr>
    <% end %>
    <% else %>
    <p>
      <em>No goal details.</em>
    </p>
    <% end %>
    
    <h3>Latest from this goal's blog</h3>
    <% unless @latest_posts.empty? %>
    <%= render :partial => 'shared/shortpost', :collection => @latest_posts %>
    <h4>Older posts on the <%= link_to "Goalblog", goal_posts_path(@goal) %></h4>
    <% else %>
    <p>
      <em>No blog posts to show.</em>
    </p>
    <% end %>

  </div>
  <div class="span-5 last">
    <h3>Goal at a Glance</h3>
    <div class="sidebar round goal">
      <div class="description">
        <b>Description:</b>
        <%= @goal.description %>
      </div>
      <br>
      <b>Begins:</b>
      <%= @goal.starts_at.to_date %>
      <br>
      <b>Target Date:</b>
      <%= @goal.ends_at.to_date %>
      <br>
      <b>Period:</b>
      <%= @goal.period %>
    </div>
  </div>
