<div class="goal">
  <div class="title">
    <p>
      <b>Title:</b>
      <%= @goal.title %>
    </p>
  </div>
  
  <div class="description">
    <p>
      <b>Description:</b>
      <%= @goal.description %>
    </p>
  </div>
  
  <p>
    <b>Starts at:</b>
    <%= @goal.starts_at %>
  </p>
  
  <p>
    <b>Ends at:</b>
    <%= @goal.ends_at %>
  </p>
  
  <p>
    <b>Period:</b>
    <%= @goal.period %>
  </p>
</div>

<% if user_signed_in? && current_user.following?(@goal) && !current_user.supporting?(@goal) %>
  <%= button_to 'Unfollow This Goal', [@goal, @account], :method => :delete %> | 
  <%= link_to 'Support This Goal', new_account_line_item_path(@account) %> 
<% else %>
  <%= link_to 'Follow This Goal', new_goal_account_path(@goal) %> | 
<% end %>


<div class="feed">
  <% @posts.each do |post| %>
  <div class="post">
    <h3><%= post.title %></h3>
    <h4><%= post.published_at %></h4>
    <div class="content">
      <%= post.content.html_safe %>
    </div>
  </div>
  <% end %>
</div>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
