<tr class="line_item">
	<td><%= line_item.status %></td>
	<td><%= line_item.type_of %></td>
	<td><%= line_item.qty %></td>
	<td><%= line_item.max_bid_min_ask %></td>
	<td><%= line_item_total(line_item) %></td>
	<td><%= link_to 'Destroy', [line_item.account, line_item], :method => :delete, :confirm => 'Are you sure?'  %></td>
	<% if (line_item.buys.exists? || line_item.sells.exists?) %>
	<!-- trades -->
  <div class="trades">
		<!-- <tr>
			<th></th>
			<th></th>			
			<th></th>	 		
			<th></th>	 		
			<th></th>
		</tr> -->
		<% if line_item.type_of == "bond bid" || line_item.type_of == "swap bid" %>
		<%= render :partial => "line_items/trade", :collection => line_item.buys %>
		<% else %>
		<%= render :partial => "line_items/trade", :collection => line_item.sells %>
		<% end %>
	</div>
	<% end %>
</tr>


