<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
	<meta name="google-site-verification" content="gmELqgDDGkmbsrS6PJIognc45u17ACh9P7RDiacL-Oc" />
	<%= render 'layouts/stylesheets' %>
	<%= javascript_include_tag :application %>
	<%= csrf_meta_tag %>
</head>
<body>
	<div class="full_width_banner" id="flash_info">Thanks for visiting dunkbonds.com, the dormant Rails app I built to gamify charitable contributions toward personal goals, piloted around my goal to dunk. You'll notice I made zero effort to update its style, so it still harkens back to its original 2011-era mint.com inspiration, when it was likely already looking pretty dated. Have a click around!</div>
	<div class="container">
		<%= render 'layouts/header' %>		
			<section class="round">			
			<% unless outside? %>
			<%= render 'layouts/gentabnav' %>
			<% end %>
			<% unless within_a_goal? %>
				<%- flash.each do |name, msg| -%>
				<%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
				<%- end -%>
			<%- end -%>
			<% if within_a_goal? %>
			<div class="goalbox">
				<%= render 'layouts/goaltabnav' %>
				<% if within_a_goal? %>
					<hr class="nospace">
					<%- flash.each do |name, msg| -%>
					<%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
					<%- end -%>
				<% end %>
				<%= yield %>
				<hr class="space">
			</div>

			<% else %>
			<%= yield %>
			<% end %>
		</section>
	</div>
</body>
<footer>
	<%= render 'layouts/footer' %>
	<%= debug(params) if Rails.env.development? %>
</footer>
</html>
