<!DOCTYPE html>
<html>
<head>
	<title>DUNKbonds</title>
	<meta name="google-site-verification" content="gmELqgDDGkmbsrS6PJIognc45u17ACh9P7RDiacL-Oc" />
	<%= render 'layouts/stylesheets' %>
	<%= javascript_include_tag :all %>
	<%= csrf_meta_tag %>
</head>
<header>
	<div class="container">
		<%= render 'layouts/header' %>
	</div>
</header>
<body>
	<div class="container">
		<section class="round">			
			<%= render 'layouts/gentabnav' %>
			<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
			<% end %>
			<% if within_a_goal? %>
			<div class="goalbox">
				<%= render 'layouts/goaltabnav' %>
				<%= yield %>
				<hr class="space">
			</div>
			<% else %>
			<%= yield %>
			<% end %>
		</section>
	</div>
</body>
<footer>
	<%= render 'layouts/footer' %>
	<%= debug(params) if Rails.env.development? %>
</footer>
</html>
