<h1>Listing accounts</h1>

<table>
  <tr>
    <th>Account</th>
    <th>Goal</th>
    <th>Is treasury</th>
    <th>Balance</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td><%= account.id %></td>
    <td><%= account.goal_id %></td>
    <td><%= account.is_treasury %></td>
    <td><%= account.balance %></td>
    <td><%= link_to 'Show', goal_account_path(account.goal, account)  %></td>
    <td><%= link_to 'Edit', edit_goal_account_path(account.goal, account) %></td>
    <td><%= link_to 'Destroy', goal_account_path(account.goal, account), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Account', new_goal_account_path %>
