<p>
  <b>Goal:</b>
  <%= @goal.title %>
</p>

<p>
  <b>Balance:</b>
  <%= @account.balance %>
</p>

<% @order_line_items.sort.each do |order, line_items| %>
  <div class="order">
    <h5>Order #<%= order %></h5>
    <table class="line_items">
      <tr>
	<th>Status</th>
	<th>Type of</th>
	<th>Max bid min ask</th>
	<th>Goal</th>
	<th>Quantity</th>
	<th></th>
	<th></th>
	<th></th>
      </tr>
      <%= render line_items %>
    </table
  </div>
<% end %>



<%= link_to 'Edit', edit_goal_account_path(@goal, @account) %> |
<%= link_to 'Back', goal_accounts_path(@goal) %>
