<p>
  <b>Goal:</b>
  <%= @goal.title %>
</p>

<p>
  <b>Balance:</b>
  <%= @account.balance %>
</p>

<div class="bonds">
  Bonds:  <%= @account.bond_qty %>
</div>

<div class="swaps">
  Swaps:  <%= @account.swap_qty %>
</div>


<% unless @line_items.empty? %>
<h5>Trade Requests</h5>
<table class="line_items">
  <tr>
   <th>Status</th>
   <th>Type</th>
   <th>Quantity</th>
   <th>Price</th>
   <th>Total</th>
   <th></th>
   <th></th>
   <th></th>
  </tr>
  <%= render @line_items %>
</table>
<% end %>


<%= link_to 'Edit', edit_goal_account_path(@goal, @account) %> |
<%= link_to 'Back', goal_accounts_path(@goal) %>
