<p>
  <b>Goal:</b>
  <%= @goal.id %>
</p>

<p>
  <b>Is treasury:</b>
  <%= @account.is_treasury %>
</p>

<p>
  <b>Balance:</b>
  <%= @account.balance %>
</p>

<table class="line_items">
  <tr>
    <th>Account</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%= render @line_items %>
</tr>

<%= link_to 'Edit', edit_goal_account_path(@goal, @account) %> |
<%= link_to 'Back', goal_accounts_path(@goal) %>
